<nav class="navbar">
    <ul class="navbar-list">
        <li><a href="#" class="navbar-link"><i class="fas fa-home"></i></a></li>
        <li><a href="#" class="navbar-link"><i class="fas fa-gamepad"></i></a></li>
        <li><a href="#" class="navbar-link"><i class="fas fa-list"></i></a></li>
        <!-- <li><a href="#" class="navbar-link"><i class="fas fa-comment-alt"></i> Forum</a></li> -->
    </ul>
</nav>

<style>
    .navbar {
        background-color: #444444;
        padding: 10px;
    }

    .navbar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar-list li {
        display: inline;
        margin-right: 10px;
    }

    .navbar-link {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
    }

    .navbar-link:hover {
        background-color: #333333;
    }
</style>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>