<nav class="navbar">
    <div class="navbar-logo">
        <a href="/">EmulatorWeb</a>
    </div>
    <ul class="navbar-list">
        <li><a href="/" class="navbar-link"><i class="fas fa-home"></i></a></li>
        <li><a href="/devices" class="navbar-link"><i class="fas fa-gamepad"></i></a></li>
        <li><a href="/games" class="navbar-link"><i class="fas fa-list"></i></a></li>
        <!-- <li><a href="#" class="navbar-link"><i class="fas fa-comment-alt"></i> Forum</a></li> -->
    </ul>
</nav>

<style>
    .navbar {
        display: flex; /* Use flexbox */
        align-items: stretch; /* Items will stretch vertically */
        background-color: #444444;
        padding: 10px;
    }

    .navbar-logo {
        color: white;
        font-size: 20px;
        margin-right: auto; /* Push the logo to the left */
    }

    .navbar-logo > a {
        color: white;
        text-decoration: none;
    }

    .navbar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .navbar-list li {
        margin-right: 10px;
    }

    .navbar-link {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        display: flex;
        align-items: center; /* Center icon vertically */
    }
</style>